[submodule "TokenBank"]
	path = TokenBank
	url = https://github.com/RamanSB/Token-Bank.git

[submodule "CoinFlip"]
	path = CoinFlip
	url = https://github.com/RamanSB/CoinFlip.git
[submodule "BaseNerdz"]
	path = BaseNerdz
	url = https://github.com/RamanSB/BaseNerdz.git
